body {
    margin: 0;
    padding: 0;
    background: url('categoriesBG.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.categories {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto; /* Center the table horizontally with auto margins */
}

.categories caption {
    font-size: 24px;
}

.categories td {
    padding: 10px;
    text-align: center;
}
