body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #EEE0C9;
    
}

h1 {
    color: #333;
}

#confirmation-container {
    margin-top: 20px;
}

#quiz-container {
    max-width: 600px;
    margin: 0 auto;
    background-color:#F1F0E8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(184, 117, 117, 0.1);
}

#question-container {
    margin-bottom: 20px;
}

#image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#options-container button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#options-container button:hover {
    background-color: #45a049;
}

button {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00597E;
}