body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    background-image: url('quiz_bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.welcome-page {
    background-color:transparent;
    opacity: 0.8;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
    max-width: 400px;
    width: 90%;
}
button {
    background-color: #000000;
    color: #c1b1a6;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #b7c3cf;
}

input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    margin: 20px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
